@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Metal+Mania&display=swap');
body{
  background-image:radial-gradient(ellipse, #ff800059 30%, #ff000034,#290303b1 80%), url('../desafio-1/imagens/trono.jpg');
  background-color: #500404;
  background-repeat: no-repeat;
  background-size: 138em;
  background-position: center;
}
h1 {
  font-family: "Metal Mania";
  font-weight: bolder;
  font-style: normal;
  font-size: 5em;
  color: rgb(255, 2, 2);
  text-shadow: 5px 7px 0px #500404;
  text-align: center;
  margin: 34px;
}
div{
  position: relative;
  min-width: 300px;
  max-width:1000px;
  margin: auto;
  margin-bottom: 8em;
}
img{
  width: 80%;
  border: 10px solid red;
  display: block;
  margin: auto;
  box-shadow: 0px 0px 30px 3px rgb(255, 255, 250);
  margin-bottom: -10px;
}

