@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Metal+Mania&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Metal+Mania&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
body{
    min-height: 100vh;
    margin: 0px;
    
}
header{
    background-color: black;
    padding: 3em;
}
header h1{
    text-align: center;
    color: #fff3f3;
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    margin: 0px;
}
nav{
    text-align: center;
    color: #fff3f3;
    font-family: "Passion One", sans-serif;
    font-size: 1.2em;
}
header a{
    color: #fff3f3;
    text-decoration: none;
    font-family: "Passion One", sans-serif;
    font-weight: 700;
}
header a:hover{
    color: white;
    text-decoration: underline;
    
}
pre{
    font-family: "Sriracha", 'cursive';
    font-weight: 400;
    text-align: left;
    font-size: 1.8em;
    line-height: 20px;
    margin-left: 1em;
    white-space: pre-line;
}
.espaçamento-baixo{
    margin-bottom: 5em;
}
.espaçamento-cima{
    margin-top: 5em;
}
#flor{
    background-image: url('../imagens/background001.jpg');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    width: 100%;
}
#jornal{
    background-image: url('../imagens/background002.jpg');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    width: 100%;
}
div{
    color: #ffffff;
    padding-top: 5em;
    padding-bottom: 5em;
    text-shadow: 1px 2px 2px #000000;
}
.quadro-preto{
    background-color: #00000041;
    margin-left: 1em;
    width: 25em;
    height: 23em;
    padding: 26px 1px 26px 0px;
}
.relative{
      position: relative;
}