@charset "UTF-8";
form{
    background-color: rgb(36, 36, 208);
    height: 50em;
    width: 50em;
    padding: 1em;
}
label{

}
input{
width: 100%;
}
fieldset{
    border: none;
    margin: 0px;
    padding: 0px;
}
select{
    display: inline;
}