@charset "UTF-8";
body{
    height: 200vh;
}
table{
    width: 25em;/* é importante mudar o tamanho da tabela pelo table, porque mudar o padding pelo td não altera o real valor da célula, e sim o espaço interno */
    height: 1em;
    border-collapse: collapse; 
    position: relative;
}
caption,td,th{
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
caption{
    border-bottom: 0px;
    background-color: grey;
    font-size: 1.3em;

}
tbody > tr:nth-child(odd){
    background-color: burlywood;
}
thead >tr>th{
    /* o top serve pra definir onde a função de grudar vai começar, no nvagador fica com um espaço faltando então por isso que ta negativo o valor, e é preciso adicionar as propriedades do fundo porque elas não vão junto com as letras */
    position: sticky;
    top: -1px;
    background-color: grey;
    border: 1px solid black;
    border-bottom: 0px;

}
thead,tfoot{
    background-color: grey;
}
.teste{
    text-align: right;
}
#medida-da-coluna-população{
    width: 8em;
}