@charset "UTF-8";
table{
    width: 400px;/* é importante mudar o tamanho da tabela pelo table, porque mudar o padding pelo td não altera o real valor da célula, e sim o espaço interno */
    height: 400px;
}
td{
    border: 2px solid black;
    padding: 8px;
    vertical-align: bottom;
}